<div class="block-name">{{block.name}}</div>
<div class="block-pane">
  {{#each block.nodes as |node|}}
    <NodePc @node={{node}}/>
  {{/each}}
  <div class="block-control">
    <span class="block-wakeup"></span>
    <span class="block-reboot"></span>
    <span class="block-shutdown"></span>
  </div>
</div>
