body {
  background-image: linear-gradient(to bottom left, #6396C3, #4D7493);
  font-family: "PTAstraSans-Regular","PT Sans",sans-serif;
}
.node {
  position: relative;
  display: inline-block;
  height: 58px;
  width: 108px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #02425E;
  color: white;
}

.node-pane {
  position: relative;
  margin: 3px;
  height: 50px;
  width: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #02425E;
}

.node .node-name {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  font-weight: bolder;
}

.node .tooltip {
  visibility: hidden;
  width: 140px;
  background-color: #466C87;
  color: #fff;
  text-align: center;
  //border-bottom-right-radius: 5px;
  //border-bottom-left-radius: 5px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  left: -20px;
  bottom: 100%;
  z-index: 1;

  font-size: 12px;
}

.node:hover .tooltip {
  visibility: visible;
}

.node-disabled .node-pane{
  background-image: linear-gradient(to bottom left, #510101, #830101);
}

.node-enabled .node-pane{
  background-image: linear-gradient(to bottom left, #069200, #08FE05);
}

.nodes-block {
  position: relative;
  display: inline-block;
  padding-top: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #02425E;
  color: white;
  text-align: center;
}
.nodes-block .block-name {
  margin: 0 auto 4px auto;
}

.block-pane {
  position: relative;
  display: inline-block;
  min-height: 50px;
  min-width: 200px;
  padding: 10px;
  background-color: #466C87;
}

.context-menu {
  background-color: #5782A3;
  color: white;
}

.context-menu--left .context-menu__item {
  padding: 4px;
}

.context-menu__item {
  height: 40px;
  padding: 4px;
}
.context-menu__item__label {
  position: relative;
  height: 32px;
  padding: 0 0 0 36px;
}
.context-menu__item__icon {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  height: 32px;
  width: 32px;
}
.item_wakeup .context-menu__item__icon {
  background-image: url('/assets/images/wakeup.png');
}
.item_reboot .context-menu__item__icon {
  background-image: url('/assets/images/reboot.png');
}
.item_shutdown .context-menu__item__icon {
  background-image: url('/assets/images/shutdown.png');
}

.block-control {
  position: relative;
  height: 40px;
  width: 108px;
  padding: 0;
  margin: 10px auto 0 auto;
}
.block-control span {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  border-width: 0;
  border-color: transparent;
  border-radius: 2px;
}
.block-control span:hover {
  background-color: #5782A3;
}
.block-wakeup {
  left: 0;
  background-image: url('/assets/images/wakeup.png');
}
.block-reboot {
  left: 36px;
  background-image: url('/assets/images/reboot.png');
}
.block-shutdown {
  left: 72px;
  background-image: url('/assets/images/shutdown.png');
}

/*config*/
.config_button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  background-color: #02425E;
  color: white;
  text-align: center;
}

.nodeEditor {
  position: relative;
  display: inline-block;
  height: 70px;
  width: 150px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #02425E;
  color: white;
}

.nodeEditor input {
  display: inline-block;
  width: 120px;
}

.config-editor-pane {
  padding-top: 20px;
}

.config-editor .block-name {
  padding: 0 5px;
}

.block-editor, .awp-editor {
  position: relative;
  display: inline-block;
  padding-top: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #02425E;
  color: white;
  text-align: center;
}
.nodes-block .block-name {
  margin: 0 auto 4px auto;
}

.block-pane {
  position: relative;
  display: inline-block;
  min-height: 50px;
  min-width: 200px;
  padding: 10px;
  background-color: #466C87;
}
